* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "Uchrony";
  src: url("./assets/UchronyBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Uchrony", Arial,  sans-serif;
}
